{% render 'shogun-products', content: page %}
{% include 'shogun-products', content: page %}
<!-- /templates/page.full-width.liquid -->

{% section 'page-lookbook' %}

<div class="rte">
  {{ page.content }}
</div>

